*
{
  margin: 0;  
  padding: 0;
}

body
{
background-image: url(../New-Project/images/bckimg.png);
background-size: cover;
}
/* header starts */
header
{
  background-color: red;
  height: 2em;
  margin-top:0cm;

}

/* .date
{
  margin-left: 630px;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
} */
.navigation
{
  margin-top: 30px;
}
.navigation a
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  padding: 10px;
  color: black;
  margin: 60px;
  text-decoration: none;
  
  

  
}
  #title
  {
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    
  }

  #hello
  {
  border: 2px dashed black;
  padding: 35px;
    width: 95%;
    text-align: center;
    font-family:sans-serif;
    word-spacing: 2px;
  }
  /* header ends */
  /* Aside starts */
#first_heading
{
  color: red;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
text-decoration-line: underline;
}
#About_Me
{
font-family: cursive;
word-spacing: 5px;
text-align: justify;
padding: 2px;
display:inline;
}


#second_heading
{
  color: red;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
text-decoration-line: underline;

}
#My_Skills
{
  font-family: cursive;
  word-spacing: 5px;
  text-align: justify;
  margin-left: 35px;
list-style-type: decimal-leading-zero;
}
#third_heading
{
  color: red;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
text-decoration-line: underline;

}
#Education
{
  font-family: cursive;
  word-spacing: 5px;
  text-align: justify;
  margin-left: 35px;
list-style-type: decimal-leading-zero;
}
#inside_college
{
  margin-left: 45px;
}
#inside_school
{
  margin-left: 45px;

}
#fourth_heading
{
  color: red;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
text-decoration-line: underline;

}
.Contact
{
  margin-left: 500px;
  text-align: justify;
  padding: 30px;
  margin-right: 20px;
  word-spacing: 10px;
  
}
#Message
{
  width:50%;
  height: 5em;
}
#Number
{
  margin-right: 529.59px;
}
#Submit
{
  margin-left: 200px;
}
/* aside ends */
/* footer starts */
.footer
{
  margin-left: 250px;
padding: 5px;
word-spacing: 200px;
display: inline;

}
#copyright
{
  margin-left: 450px;
}
.linkedin
{
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.twitter
{
  display: flex;
  align-items: center;
  margin-left: 15px;

}
.instagram
{
  display: flex;
  align-items: center;
  margin-left: 15px;

}
.google
{
  display: flex;
  align-items: center;
  margin-left: 15px;

}
.facebook
{
  display: flex;
  align-items: center;
  margin-left: 15px;

}
#top
{
  float: right;
  margin-bottom: 100px;
}
#hand
{
  float: right;
  margin-bottom: 150px;

}
/* footer ends */


